{% extends 'layout.html' %}

{% block content %}
<h1>What is a password generator?</h1>

<p>A password generator is a tool that automatically creates a password based on guidelines you define to provide strong and unpredictable passwords for each of your accounts.</p>

<h2>What characterizes a strong password?</h2>

<p>Long: The longer a password is, the more secure it is. A strong password must be at least 12 characters long.</p>

<p>Random: Strong passwords use a combination of letters, numbers, capital letters, and symbols to form an unpredictable string of characters that don't resemble words or names.</p>

<p>Unique: A strong password should be unique for each account to reduce your vulnerability in the event of a hack.</p>
{% endblock %}